In [2]:
#%pip install pandas jupyter

%pip install requests

Requirement already satisfied: requests in c:\users\moetez\appdata\local\programs\python\python313\lib\site-packages (2.32.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\moetez\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moetez\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\moetez\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moetez\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.1.31)

In [3]:


# Import pandas after installation
import pandas as pd
print(pd.__version__)
import requests

2.2.3

Loading the dataset

In [4]:
import requests

def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)
        print(f"File downloaded successfully as {filename}")
    else:
        print(f"Failed to download file. Status code: {response.status_code}")

file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
download(file_path, "survey_data.csv")

File downloaded successfully as survey_data.csv

======================================================|===========================================================

In [5]:
df=pd.read_csv("survey_data.csv")
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

======================================================|===========================================================
Number of ROWS and COLUMNS

In [6]:
rows, cols= df.shape
print("The dataset has", rows, "rows, and", cols, "columns")

The dataset has 65437 rows, and 114 columns

Identifying the data type of each column

In [7]:
df.dtypes

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Average age of the survey

In [12]:
age_mapping = {
    "Under 18 years old": 17,  
    "18-24 years old": 21,
    "25-34 years old": 29.5,
    "35-44 years old": 39.5,
    "45-54 years old": 49.5,
    "55-64 years old": 59.5,
    "65 years or older": 70,  
    "Prefer not to say": None  }

df['NewAge'] = df['Age'].map(age_mapping)

# Compute mean (ignoring NaN values)
print(df['NewAge'].mean())

33.047308607847654

Unique countries:

In [14]:
print(df['Country'].nunique())

185

============================MODULE 2 Data Wrangling========================

In [17]:
nb_dupes= df.duplicated().sum()
print(f"{nb_dupes} Duplicated rows")

0 Duplicated rows

In [22]:
df_info=df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 115 entries, ResponseId to NewAge
dtypes: float64(14), int64(1), object(100)
memory usage: 57.4+ MB

In [23]:
missing_values = df.isnull().sum()
summary = df.describe(include='all')
print(df_info)
print("\nMissing values per column:\n", missing_values)
print("\nSummary statistics:\n", summary)

None

Missing values per column:
 ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
NewAge                   322
Length: 115, dtype: int64

Summary statistics:
           ResponseId                      MainBranch              Age  \
count   65437.000000                           65437            65437
unique           NaN                               5                8
top              NaN  I am a developer by profession  25-34 years old
freq             NaN                           50207            23911
mean    32719.000000                             NaN              NaN
std     18890.179119                             NaN              NaN
min         1.000000                             NaN              NaN
25%     16360.000000                             NaN              NaN
50%     32719.000000                             NaN              NaN
75%     49078.000000                             NaN              NaN
max     65437.000000                             NaN              NaN

                 Employment                            RemoteWork   Check  \
count                 65437                                 54806   65437
unique                  110                                     3       1
top     Employed, full-time  Hybrid (some remote, some in-person)  Apples
freq                  39041                                 23015   65437
mean                    NaN                                   NaN     NaN
std                     NaN                                   NaN     NaN
min                     NaN                                   NaN     NaN
25%                     NaN                                   NaN     NaN
50%                     NaN                                   NaN     NaN
75%                     NaN                                   NaN     NaN
max                     NaN                                   NaN     NaN

       CodingActivities                                       EdLevel  \
count             54466                                         60784
unique              118                                             8
top               Hobby  Bachelor’s degree (B.A., B.S., B.Eng., etc.)
freq               9993                                         24942
mean                NaN                                           NaN
std                 NaN                                           NaN
min                 NaN                                           NaN
25%                 NaN                                           NaN
50%                 NaN                                           NaN
75%                 NaN                                           NaN
max                 NaN                                           NaN

                                                LearnCode  \
count                                               60488
unique                                                418
top     Other online resources (e.g., videos, blogs, f...
freq                                                 3674
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                          LearnCodeOnline  ... JobSatPoints_7  \
count                                               49237  ...    29448.00000
unique                                              10853  ...            NaN
top     Technical documentation;Blogs;Written Tutorial...  ...            NaN
freq                                                  603  ...            NaN
mean                                                  NaN  ...       22.96522
std                                                   NaN  ...       27.01774
min                                                   NaN  ...        0.00000
25%                                                   NaN  ...        0.00000
50%                                                   NaN  ...       15.00000
75%                                                   NaN  ...       30.00000
max                                                   NaN  ...      100.00000

       JobSatPoints_8 JobSatPoints_9 JobSatPoints_10 JobSatPoints_11  \
count    29456.000000   29456.000000    29450.000000    29445.000000
unique            NaN            NaN             NaN             NaN
top               NaN            NaN             NaN             NaN
freq              NaN            NaN             NaN             NaN
mean        20.278165      16.169432       10.955713        9.953948
std         26.108110      24.845032       22.906263       21.775652
min          0.000000       0.000000        0.000000        0.000000
25%          0.000000       0.000000        0.000000        0.000000
50%         10.000000       5.000000        0.000000        0.000000
75%         25.000000      20.000000       10.000000       10.000000
max        100.000000     100.000000      100.000000      100.000000

                 SurveyLength SurveyEase ConvertedCompYearly        JobSat  \
count                   56182      56238        2.343500e+04  29126.000000
unique                      3          3                 NaN           NaN
top     Appropriate in length       Easy                 NaN           NaN
freq                    38767      30071                 NaN           NaN
mean                      NaN        NaN        8.615529e+04      6.935041
std                       NaN        NaN        1.867570e+05      2.088259
min                       NaN        NaN        1.000000e+00      0.000000
25%                       NaN        NaN        3.271200e+04      6.000000
50%                       NaN        NaN        6.500000e+04      7.000000
75%                       NaN        NaN        1.079715e+05      8.000000
max                       NaN        NaN        1.625660e+07     10.000000

              NewAge
count   65115.000000
unique           NaN
top              NaN
freq             NaN
mean       33.047309
std        11.206947
min        17.000000
25%        21.000000
50%        29.500000
75%        39.500000
max        70.000000

[11 rows x 115 columns]

In [25]:
unique_countries = df['Country'].unique()
print("Unique values in 'Country' column:\n", unique_countries)

inconsistent_countries = df[df['Country'].str.strip() == ''] 
print("\nInconsistent or missing countries:\n", inconsistent_countries)

Unique values in 'Country' column:
 ['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Inconsistent or missing countries:
 Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 115 columns]

In [26]:
country_mapping = {
    'USA': 'United States',
    'United States of America': 'United States',
    'US': 'United States',
}

df['Country'] = df['Country'].replace(country_mapping)

ed_level_mapping = {
    'Bachelors': 'Bachelor\'s',
    'Master': 'Master\'s',
    'Phd': 'PhD',
}

df['EdLevel'] = df['EdLevel'].replace(ed_level_mapping)

# Verify the changes
print("\nStandardized 'Country' column:\n", df['Country'].unique())
print("\nStandardized 'EdLevel' column:\n", df['EdLevel'].unique())

Standardized 'Country' column:
 ['United States' 'United Kingdom of Great Britain and Northern Ireland'
 'Canada' 'Norway' 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria'
 'Switzerland' 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia'
 'Brazil' 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France'
 'Saudi Arabia' 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden'
 'Netherlands' 'Croatia' 'Pakistan' 'Czech Republic'
 'Republic of North Macedonia' 'Finland' 'Slovakia' 'Russian Federation'
 'Greece' 'Israel' 'Belgium' 'Mexico' 'United Republic of Tanzania'
 'Hungary' 'Argentina' 'Portugal' 'Sri Lanka' 'Latvia' 'China' 'Singapore'
 'Lebanon' 'Spain' 'South Africa' 'Lithuania' 'Viet Nam'
 'Dominican Republic' 'Indonesia' 'Kosovo' 'Morocco' 'Taiwan' 'Georgia'
 'San Marino' 'Tunisia' 'Bangladesh' 'Nigeria' 'Liechtenstein' 'Denmark'
 'Ecuador' 'Malaysia' 'Albania' 'Azerbaijan' 'Chile' 'Ghana' 'Peru'
 'Bolivia' 'Egypt' 'Luxembourg' 'Montenegro' 'Cyprus' 'Paraguay'
 'Kazakhstan' 'Slovenia' 'Jordan' 'Venezuela, Bolivarian Republic of...'
 'Costa Rica' 'Jamaica' 'Thailand' 'Nicaragua' 'Myanmar'
 'Republic of Korea' 'Rwanda' 'Bosnia and Herzegovina' 'Benin'
 'El Salvador' 'Zimbabwe' 'Afghanistan' 'Estonia' 'Malta' 'Uruguay'
 'Belarus' 'Colombia' 'Republic of Moldova' 'Isle of Man' 'Nomadic'
 'New Zealand' 'Palestine' 'Armenia' 'United Arab Emirates' 'Maldives'
 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda' 'Turkmenistan' 'Mauritius' 'Kenya'
 'Cuba' 'Gabon' 'Bahamas' 'South Korea' 'Iceland' 'Honduras'
 'Hong Kong (S.A.R.)' "Lao People's Democratic Republic" 'Mongolia'
 'Cambodia' 'Madagascar' 'Angola' 'Democratic Republic of the Congo'
 'Syrian Arab Republic' 'Iraq' 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia'
 'Swaziland' "Côte d'Ivoire" 'Kuwait' 'Tajikistan' 'Burundi'
 'Trinidad and Tobago' 'Mauritania' 'Sierra Leone' 'Panama' 'Somalia'
 'North Korea' 'Dominica' 'Guyana' 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Standardized 'EdLevel' column:
 ['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

In [27]:
df_encoded = pd.get_dummies(df, columns=['Employment'], drop_first=True) 
print("\nOne-hot encoded 'Employment' column:\n", df_encoded.head())

One-hot encoded 'Employment' column:
    ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

                             RemoteWork   Check  \
0                                Remote  Apples
1                                Remote  Apples
2                                Remote  Apples
3  Hybrid (some remote, some in-person)  Apples
4  Hybrid (some remote, some in-person)  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

In [28]:
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("\nColumns with the highest number of missing values:\n", missing_columns)

Columns with the highest number of missing values:
 CodingActivities    10971
EdLevel              4653
LearnCode            4949
LearnCodeOnline     16200
TechDoc             24540
                    ...
JobSatPoints_11     35992
SurveyLength         9255
SurveyEase           9199
JobSat              36311
NewAge                322
Length: 108, dtype: int64

In [29]:
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("\nColumns with the highest number of missing values:\n", missing_columns)

Columns with the highest number of missing values:
 CodingActivities    10971
EdLevel              4653
LearnCode            4949
LearnCodeOnline     16200
TechDoc             24540
                    ...
JobSatPoints_11     35992
SurveyLength         9255
SurveyEase           9199
JobSat              36311
NewAge                322
Length: 108, dtype: int64

In [31]:
# Impute missing values in numerical columns using the median
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median())
# Impute missing values in categorical columns using the mode (most frequent value)
df['RemoteWork'] = df['RemoteWork'].fillna(df['RemoteWork'].mode()[0])

In [39]:
from scikit import MinMaxScaler

# Min-Max scaling to normalize 'ConvertedCompYearly'
scaler = MinMaxScaler()
df['ConvertedCompYearly_scaled'] = scaler.fit_transform(df[['ConvertedCompYearly']])

ModuleNotFoundError: No module named 'scikit'

In [ ]:
import numpy as np

df['ConvertedCompYearly_log'] = np.log(df['ConvertedCompYearly'] + 1)  # Adding 1 to avoid log(0)